.trapezoid {
  border-bottom: 50px solid black;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 80%;
  opacity: 0.3;
}

.seat {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
  background-color: rgb(122, 122, 122);
  color: #fff;
}

.seatBooked {
  @apply bg-red-800 cursor-not-allowed !important;
}

.seatBooking {
  background-color: rgb(18, 176, 18) !important;
}

.seatVip {
  @apply bg-pink-600;
}

.anotherBooked {
  @apply bg-blue-900 cursor-not-allowed !important;
}

