.padding-left {
  padding-left: 0px !important;
}

.padding-y {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.padding {
  padding: 0 !important;
}

.marginDivider {
  margin: 1px 0 !important;
}

.max-height {
  max-height: 30rem !important;
}

.scrollbar {
  height: 100px;
  width: "auto";
  /* force overflow */
  min-height: 450px;
  overflow-y: auto
}

.divide {
  @apply divide-y-2 divide-blue-400 divide-opacity-20;
}
