.container {
  @apply relative w-full;
}

/* Menubar trái */
.navigation {
  width: 300px;
  @apply fixed h-full bg-blue-600 border-l-8 border-blue-600 overflow-hidden duration-500;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  @apply absolute top-0 left-0 w-full;
}

.navigation ul li {
  @apply relative list-none  rounded-bl-full rounded-tl-full w-full;
}

.hovered {
  @apply bg-white;
}

.navigation ul .hovered a {
  @apply text-blue-600;
}

.navigation ul li a {
  height: 30px;
  @apply relative  w-full flex no-underline text-white hover:text-blue-600;
}

.navigation ul li:hover .icon ion-icon {
  transform: scale(1.5);
}

.icon {
  min-width: 60px;
  line-height: 30px;
  @apply relative block text-center;
}

.icon ion-icon {
  @apply text-3xl duration-300
}

.title {
  line-height: 30px;
  font-size: 18px;
  text-align: start;
  white-space: nowrap;
  @apply relative block px-3 font-bold;
}

.navigation ul li:hover a::before,
.navigation ul .hovered a::before {
  content: "";
  width: 50px;
  height: 50px;
  top: -62px;
  box-shadow: 35px 35px 0 10px white;
  z-index: -1;
  @apply absolute right-0 bg-blue-600 rounded-full;
}

.navigation ul li:hover a::after,
.hovered a::after {
  content: "";
  width: 50px;
  height: 50px;
  bottom: -62px;
  box-shadow: 35px -35px 0px 10px white;
  z-index: -1;
  @apply absolute right-0 bg-blue-600 rounded-full;
}

/* content */

.content {
  width: calc(100% - 300px);
  left: 300px;
  @apply absolute min-h-screen bg-white duration-500;
}

.content.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  height: 70px;
  @apply w-full flex justify-between items-center pl-5 pr-10;
}

.toggle {
  width: 70px;
  height: 70px;
  transition: 1s;
  @apply relative top-0 flex justify-center items-center text-4xl cursor-pointer text-blue-500;
}

.rotate {
  transition: 1s;
  transform: rotateY(180deg);
  @apply animate-spin;
}

.search {
  width: 400px;
  @apply relative mx-10;
}

.search label {
  @apply relative w-full flex;
}

.search label input {
  height: 40px;
  padding: 5px 35px;
  @apply w-full rounded-2xl text-xl;
}

.search label ion-icon {
  @apply absolute top-2 left-2 text-2xl;
}

.user {
  width: 45px;
  height: 45px;
  @apply relative rounded-full overflow-hidden cursor-pointer;
}

.user img {
  @apply absolute top-0 left-0 w-full h-full;
}
