.content {
  @apply border-opacity-40  p-7 bg-gradient-to-br from-indigo-900 shadow-2xl to-transparent m-auto;
}

.label {
  @apply block text-xs mb-2 text-white;
}

.input {
  @apply px-4 w-full border-2 py-2 rounded-md text-sm;
}

.NavLink {
  @apply cursor-pointer text-sm text-blue-400 hover:text-blue-900;
}

.Button-submit {
  @apply w-full bg-green-500 hover:bg-green-400 text-white py-2 rounded-md transition duration-100;
}

.Button-guest {
  @apply w-full bg-gray-700 hover:bg-gray-600 text-white py-2 rounded-md transition duration-100;
}
