.react-responsive-modal-modal {
  padding: 0 !important;
  width: 70vw;
  height: 70vh;
  overflow: visible;
  border: 10px black;
}

.react-responsive-modal-closeButton {
  position: absolute;
  right: -20px;
  top: -20px;
  border-radius: 50%;
}
