.movie-card {
  background: #ffffff;
  /* box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 315px;
  display: inline-block;
  transition: 300ms;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 367px;
  width: 100%;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.overlay-movieCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply bg-gradient-to-b from-transparent via-transparent to-black hidden;
}

.header-icon {
  /* width: 100%;
  height: 367px;
  line-height: 367px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 64px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6abcea;
  opacity: 0.85;
  transition: 200ms;
}

.header-icon:hover {
  /* background: rgba(0, 0, 0, 0.15); */
  font-size: 84px;
  text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6abcea;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}

.movie-card:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.movie-card:hover .movie-content-button {
  display: block;
}

.movie-card:hover .overlay-movieCard {
  display: block;
}

.movie-card:hover .movie-content-header {
  display: none;
}

.info-section {
  display: table-cell;
  text-transform: uppercase;
}

.info-section:first-of-type {
  text-align: left;
}

.info-section:last-of-type {
  text-align: right;
}

.info-section label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
  font-size: 9px;
}

.info-section span {
  font-weight: 700;
  font-size: 11px;
}

@media screen and (max-width: 500px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
    margin: 1em;
    display: block;
  }
}
