.slick-prev::before,
.slick-next::before {
  color: gray !important;
  font-size: 3rem !important;
}

.width-item {
  width: 100% !important;
  margin-top: 10px;
}

.width-slider {
  width: 75% !important;
  margin: auto;
}

.button {
  @apply relative px-8 py-4 ml-4 overflow-hidden font-semibold rounded bg-gray-300 focus:ring-2 focus:ring-red-500 focus:text-red-700;
}

.new {
  @apply absolute top-0 right-0 px-5 py-1 text-xs tracking-wider text-center uppercase origin-bottom-left transform rotate-45 -translate-y-full translate-x-1/3 bg-red-700 text-white;
}
