.popup-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.activePopup-overlay {
  display: block;
}

.popup {
  position: absolute;
  top: -500%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  width: auto;
  height: auto;
  background: #f5f5f5;
  z-index: 2;
  opacity: 0;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  border-radius: 20px;
  overflow: hidden;
}

.activePopup {
  top: 350%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
