.ant-progress-circle .ant-progress-text {
  font-size: 50px !important;
  font-weight: 700;
  color: white !important;
}

.trailer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 90;
  background-color: black;
  opacity: 0.5;
}

.content:hover .trailer {
  display: block;
}

.ant-tabs-tab {
  margin: 0 !important;
  padding: 0px 24px !important;
  opacity: 0.5;
}

.ant-divider-horizontal {
  margin: 1px !important;
}

.ant-tabs-tab-active {
  padding: 0px 24px !important;
  margin: 0 !important;
  display: block !important;
  opacity: 1;
}

.ant-tabs-tabpane {
  padding-left: 0 !important;
}

.ant-tabs-top .ant-tabs-nav .ant-tabs-ink-bar {
  display: none;
}
