:root {
  --clr: rgba(33, 34, 38);
}

.navigation {
  width: 500px;
  height: 80px;
  background: #fff;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
  width: 450px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 90px;
  height: 80px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.icon {
  position: relative;
  display: block;
  line-height: 80px;
  font-size: 2rem;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}

.active .icon {
  transform: translateY(43px);
  color: white;
}

.text {
  position: absolute;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  @apply text-blue-700;
}

.active .text {
  opacity: 1;
  transform: translateY(-10px);
}

.indicator {
  position: absolute;
  bottom: -44%;
  left: 35px;
  width: 70px;
  height: 70px;
  /* background: #29fd53; */
  border-radius: 50%;
  border: 10px solid var(--clr);
  transition: 0.5s;
  @apply bg-blue-800
}

.indicator::before {
  content: "";
  position: absolute;
  top: 9%;
  left: -51%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 10px 0 0ch var(--clr);
}

.indicator::after {
  content: "";
  position: absolute;
  top: 9%;
  right: -51%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -1px 10px 0 0ch var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(90px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(90px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(90px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(90px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(90px * 4));
}
