.modal {
  @apply border-4 border-opacity-40 py-8 px-14 mt-20 rounded-2xl bg-gradient-to-br from-indigo-900 shadow-2xl to-transparent m-auto text-white;
}

.button-submit {
  @apply bg-green-500 hover:bg-green-400 text-white py-2 rounded-md transition duration-100 w-1/2;
}

.navLink {
  @apply cursor-pointer text-sm text-blue-300;
}
